.wrraper 
    .bottom-info
        p.bottom-info-title SOCAL MARKETING & ANALYTICS
        h2 Take control of your data
        p.box-button
            a(href="#") get started
            a.bottom-button-2(href="#") explore features

