.wrraper
    .content 
        p.content-title misocial
        h2 Select a Plan
        p.content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
    .wrraper
            .content-box    
                .box1 
                    img(src="../img/Asset-3.png", alt="")
                    p.box-title personal
                    p.price
                        sup $ 
                        span 0
                        |/month
                    p.box-text Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.
                    p.box-button
                        a(href="#") select plan
                .box2 
                    img(src="../img/Asset-2.png", alt="")
                    p.box-title personal
                    p.price 
                        span 29
                        |/month
                    p.box-text Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.
                    p.box-button
                        a(href="#") select plan
                .box1 
                    img(src="../img/Asset-1.png", alt="")
                    p.box-title personal
                    p.price 
                        span 49
                        |/month
                    p.box-text Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.
                    p.box-button
                        a(href="#") select plan