.wrrraper
    .footer
        .main-menu
            .logo
                img(src="../img/Symbol.png", alt="")
                h2 misocial
            .top-menu
                .menu
                    ul
                        li
                            a(href="#")  Home
                        li
                            a(href="#")  Why MISOCIAL
                        li
                            a(href="#")  Features
                        li
                            a(href="#")  Articles
                        li
                            a(href="#")  Pricing
                .button 
                    a(href="#") get started 