.wrrraper
    .main-foto
        .main-menu
            .logo
                img(src="../img/Symbol.png", alt="")
                h1 misocial
            .top-menu
                .menu
                    ul
                        li
                            a(href="#")  Home
                        li
                            a(href="#")  Why MISOCIAL
                        li
                            a(href="#")  Features
                        li
                            a(href="#")  Articles
                        li
                            a(href="#")  Pricing
                .button 
                    a(href="#") get started 
        .header-text
            p.social-marketing SOCIAL MARKETING & ANALYTICS 
            h1 Pricing Table
            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        .arrows
            a(href="#")
                img(src="../img/arrows.png", alt="")