.bottom-info
    background: fixed url(../img/map.png) no-repeat top center/cover, linear-gradient(-60deg, #87d3cd 0%, #6d45e1 100%)
    text-align: center
    h2
        margin: 0
        padding: 24px 0 18px 0
        font-size: 60px
        color: #ffffff
        font-weight: 500
        font-family: "Maven Pro"
    .box-button
        a
            margin-bottom: 186px
            background-color: #fff
            &:hover
                color: #fff
                background-color: #6e45e2
        .bottom-button-2
            padding: 16px 34px
            margin-left: 10px
.bottom-info-title
    margin: 0
    padding-top: 180px
    font-size: 14px
    color: #fff
    font-weight: 700
    font-family: "Maven Pro"
.bottom-button-2
    margin: 0
    a
        display: inline-block
        margin: 0
        padding: 16px 34px
        border: 1px solid #d7dbe8
        border-radius: 25px
        text-decoration: none
        text-transform: uppercase
        font-size: 12px
        color: #c2c9db
        font-weight: 700
        font-family: "Maven Pro"
        &:hover
            color: #fff
            border: 1px solid #6e45e2
            background-color: #6e45e2
            cursor: pointer
    