.footer
    .main-menu
        margin-bottom: 0
    h2
        font-size: 30px
        color: #37374a
        font-weight: 700
        font-family: "Maven Pro"
        margin: 0
        padding: 52px 0 0 18px
        text-transform: uppercase
    a
        color: #6a6a77
    .button
        a
            border: 1px solid #6e45e2
            background-color: #fff
            &:hover
                color: #fff
                border: 1px solid #6e45e2
                background-color: #6e45e2
    hr
        border: 1px solid #bdbdc2
        margin: 30px 50px 
    .bottom
        display: flex
        justify-content: space-between
        margin-bottom: 26px
    .copyright
        padding-left: 50px
        font-size: 14px
        color: #6a6a77
        font-weight: 500
        font-family: "Maven Pro"
    .social
        margin-right: 34px
        img
            padding-right: 16px
    