.flex
    display: flex
    justify-content: space-between

.main-menu
    display: flex
    justify-content: space-between  
    margin-bottom: 198px
.main-foto
    background: fixed url(../img/robertson.png) no-repeat top center/cover, linear-gradient(-60deg, #87d3cd 0%, #6d45e1 100%)
.top-menu
    display: inline-flex
    text-align: right      
.logo
    display: flex
    img
        height: 48px
        padding: 48px 0 0 50px
    h1
        margin: 0
        padding: 52px 0 0 18px
        font-size: 30px
        letter-spacing: 6px
        color: #fff
        font-weight: 700
        font-family: "Maven Pro"
        text-transform: uppercase
.menu
    ul
        margin: 0
        padding: 0
        list-style: none
        display: flex
    li
        padding-top: 60px
    a  
        text-decoration: none
        padding-right: 67px
        padding-top: 60px
        font-size: 16px
        color: #ffffff
        font-weight: 500
        font-family: "Maven Pro"
        &:hover
            color: #a388f0
.button
    padding: 60px 83px 0 33px
    a
        padding: 22px 32px
        border: 1px solid #fff
        border-radius: 25px
        font-size: 12px
        letter-spacing: 1px
        color: #fff
        font-weight: 700
        font-family: "Maven Pro"
        text-transform: uppercase
        text-decoration: none
        &:hover
            border: 1px solid #a388f0
            color: #a388f0
.header-text
    text-align: center
    .social-marketing
        font-size: 14px
        color: #fff
        font-weight: 700
        font-family: "Maven Pro"
    h1
        font-size: 86px
        color: #fff
        font-weight: 500
        font-family: "Maven Pro"
        text-align: center
    .description
        display: inline-block
        margin-bottom: 180px
        width: 372px
        font-size: 16px
        color: #fff
        font-weight: 400
        font-family: "Maven Pro"
        text-align: center
.arrows
    text-align: center
    a
        position: relative
        margin-bottom: 48px
        padding: 30px
        border-radius: 50%
        background-color: #fff
        display: inline-block
        &:hover
            background-color: #a388f0
            img
                filter: invert(50%) brightness(100)
    img
        width: 14px
        height: 16px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)